:root {
	--dg-color-grid__background: #202020;
	--dg-color-default: #393939;
	--dg-color-default-dark: #2b2b2b;
	--dg-color-delete: #e82a2a;
	--dg-color-delete__hover: #6b2330;
	--dg-color-dark: #1D1D1E;
	--dg-color-dark-2: #212325;
	--dg-color-dark-3: #232527;
	--dg-color-dark-4: #27292b;
	--dg-color-light: #4d4d4d;
	--dg-color-light-2: #b8b8b8;
	--dg-grid-size: 25;
}