GridBackground {
	--grid-background-color: var(--dg-color-grid__background);
	--line-color: var(--dg-color-grid__background);
	--thick-line-color: var(--dg-color-grid__background);
	--spacing: var(--dg-grid-size);
}