:root
{
	--ds-grid-background-color: rgba(30, 30, 30, 1);
	--ds-window-color-1: #1D1D1E;	/* Grey */
	--ds-window-color-2: #2B2D2F;
	--ds-window-color-3: #212325;
	--ds-window-color-4: #232527;
	--ds-window-color-5: #252729;
	--ds-window-color-6: #27292C;
	--ds-window-color-7: #FDD057;	/* Yellow */
	--ds-grid-size: 25;
}