#title {
	height: 0px;
}

#node-border {
	min-width: 60px;
}

#contents > #top > #output {
	background-color: var(--dg-color-default);
}

.port-disable.port.output > #type {
	color: var(--dg-color-light);
}

.field-value {
	margin-left: 5px;
	margin-right: 5px;
	min-width: 80px;
}

#extension {
	justify-content: center;
	min-height: 30px;
}